.feed{
    background-color: black;
    color: white;
}
.feed_data{
    color: white;
    width: 100vw;
    position: relative;
}
.feed_data > .news > div > ul> li > img{
    position: inherit;
    width: 100%;    
}
.feed_data > .news > div > ul{
    list-style: none;
}
.feed_data > .side{
    background-color: rgb(255, 102, 0);
    position: fixed;
    width: 24%;
    display: inline;
    float: left;
    height: 88vh;
    text-align: center;
}
.feed_data > .news{
    display: inline;
    position: relative;
    left: 22%;

}
.feed_data > .news> div{
    width: 75%;
}
.side > ul >li{
    list-style: none;
    padding: 5%;
}