*{
    background-color: black;
    color: white;
}
ul {
    list-style: none;
    padding: auto;
}
ul > li{
    margin: auto;
    width: 70vh ;    
    border: 4px solid #ff4800;
    padding: 1.2rem;
    border-radius: 1.25rem;
}
ul > li:hover{
    transform :scale(1.02);
}
ul > li> h2 {
    color: #ff4800;
}