.feed{
    background-color: black;
    color: white;
}
.feed_data{
    color: white;
    width: 100vw;
    position: relative;
    

    

    
}
.feed_data > .news > div > ul> li > img{
    position: inherit;
    width: 100%;    
}
.feed_data > .news > div > ul{
    list-style: none;
}
.feed_data > .side{
    background-color: red;
    position: fixed;
    width: 25%;
    display: inline;
    float: left;
}
.feed_data > .news{
    display: inline;
    position: relative;
    left: 20%;

}
.feed_data > .news> div{
    width: 75%;
}